<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>exSampleApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>line3rdp.$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>lineauth2</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Application needs your apple music</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Application needs your bluetooth</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Application needs your bluetooth</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Application need calendar for displaying your daily appointments and show total appointments current day.</string>
	<key>NSCameraUsageDescription</key>
	<string>Application needs your camera for task document photos for send to operator</string>
	<key>NSContactsUsageDescription</key>
	<string>Application needs your contacts for send job to support team</string>
	<key>NSFaceIDUsageDescription</key>
	<string>$(PRODUCT_NAME) Requires FaceID access to allows you quick and secure access.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Application needs your location for add current location and add marker in map and send location marker to operator</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Application needs your location for add current location and add marker in map and send location marker to operator</string>
	<key>NSLocationUsageDescription</key>
	<string>Application needs your location for add current location and add marker in map and send location marker to operator</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Application needs your location for add current location and add marker in map and send location marker to operator</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Application needs your microphone for record audio in video send to operator</string>
	<key>NSMotionUsageDescription</key>
	<string>Application needs your motion</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Application needs your photo library for save camera photo document and uploading pictures from the album to the application for send images to operator</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Application needs your photo library for save camera photo document and uploading pictures from the album to the application for send images to operator</string>
	<key>NSSiriUsageDescription</key>
	<string>Application needs your siri</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Application needs your speech recognition</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Application needs tracking location to function on map</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Mackless-Script.otf</string>
		<string>JosefinSans-Bold.ttf</string>
		<string>JosefinSans-Regular.ttf</string>
		<string>JosefinSans-SemiBold.ttf</string>
		<string>MTNBrighterSans-Bold.ttf</string>
		<string>MTNBrighterSans-BoldItalic.ttf</string>
		<string>MTNBrighterSans-ExtraBold.ttf</string>
		<string>MTNBrighterSans-ExtraBoldItalic.ttf</string>
		<string>MTNBrighterSans-ExtraLight.ttf</string>
		<string>MTNBrighterSans-ExtraLightItalic.ttf</string>
		<string>MTNBrighterSans-Light.ttf</string>
		<string>MTNBrighterSans-LightItalic.ttf</string>
		<string>MTNBrighterSans-Medium.ttf</string>
		<string>MTNBrighterSans-MediumItalic.ttf</string>
		<string>MTNBrighterSans-Regular.ttf</string>
		<string>MTNBrighterSans-RegularItalic.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Sport-Center.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>Kanit-Light.ttf</string>
		<string>Kanit-SemiBold.ttf</string>
		<string>Kanit-Thin.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Kanit-Bold.ttf</string>
		<string>Kanit-ExtraLight.ttf</string>
		<string>Kanit-Italic.ttf</string>
	</array>
</dict>
</plist>
